* {
  margin: 0;
}

#movies {
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: center;
}

small {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  color: #fff;
}
small a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: inherit;
  text-decoration: none;
}